.notification-box {
  height: 100%;
  width: 100%;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 145, 0, 1);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

.notification-box:hover .overlay {
  width: 100%;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: start;
}
