rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /newUsers/{newUsers} {
      function isValidUsersData() {
        return request.auth.uid == newUsers;
      }
      function isAdmin() {
        return get(/databases/$(database)/documents/newUsers/$(request.auth.uid)).data.role == "admin";
      }

      allow create: if request.auth != null;
      allow update: if request.auth != null && (isValidUsersData() || isAdmin());
      allow delete: if isAdmin();
      allow get: if request.auth != null && isValidUsersData();
      allow list: if request.auth != null && isAdmin();
    }
    match /accounting/chartOfAccounts {
      allow read, write;
    }
    match /accounting/chartOfAccounts/{collection}/{document} {
      allow read, write;
    }
    match /accounting/chartOfAccounts/{collection}/{document}/{child}/{doc}{
      allow read, write;
    }
    match /accounting/chartOfAccountsCounter {
      allow read, update;
    }
    match /accounting/accountingEvents {
      allow read, update;
    }
  }
}