rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /newUsers/{newUsers} {
      allow read, write;
    }
  }
}