.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 30%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(31, 35, 24, 0.5);
}

#login-form-message {
    color: aqua;
    text-align: center;
}