.login-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
  border-radius: 10px;
  max-width: 600px;
  width: 25%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 15px 0 rgba(31, 35, 24, 0.5);
}
.field-container {
  display: flex;
  flex-direction: row;
}
#login-form-message {
  color: aqua;
  text-align: center;
}
