.navbar {
  display: flex;
  justify-content: center;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;
}

.navbar-item:hover {
  color: rgb(27, 191, 220);
}
